.about-me-title {
    font-size: 100px;
}

.about-me__subtitle {
    border: 1px solid #900;
    width: 500px;
    height: 510px;
}

.subtitle-fact {
    color: $purple2;
    font-size: 40px;
    margin: 25px 0 0 25px;
}

.subtitle-fact-text {
    color: $purple5;
    font-size: 26px;
    margin: 30px;
}