.banner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(#404040, $trueBlack);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 300px;
        width: 400px;
        height: 320px;
        background: red;
        z-index: 1;

        transition: 1s;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 400px;
        height: 200px;
        background: $green5;
        z-index: 1;

        transition: 1s;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;

    &__logo {
        font-size: 2em;
        color: $trueWhite;
        font-weight: 700;
        
        transition: 0.5s;
        transform-origin: right;
    }

    &__toggle {
        position: fixed;
        right: 100px;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        cursor: pointer;
    }
}

.active {
    background: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.active.banner::before {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: $trueBlack;
}
.active.banner::after {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: $trueBlack;
}

//Контент

.banner__content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s;
    transform-origin: right;
}

.content-box {
    max-width: 600px;
    
    &__title {
        font-size: 4em;
        line-height: 1em;
        text-transform: uppercase;
        color: $trueWhite;
    }    
    &__subtitle {
        font-size: 1em;
        margin: 30px 0;
        color: $trueWhite;
    }
    &__link {
        display: inline-block;
        border: 3px solid red;
        padding: 10px 30px;
        color: $trueWhite;
        text-transform: uppercase;

    }
}