.header {
    margin:5px 10px;
    padding: 10px;
    display: flex;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: $blueHeader;
}

.header__nav{
    margin: 50px auto 0;
    padding: 0 15px 5px;
    max-width: 1200px;

    @media screen and (max-width: 1230px){
        margin: 35px auto 0;
        max-width: 990px;
    }

    @media screen and (max-width: 1020px){
        margin: 20px auto 0;
        max-width: 768px;
    }

    @media screen and (max-width: 798px){
        margin: 5px 0 0;
        max-width: none;
        width: 100%;
    }
    
}

.nav{
    position: relative;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

.nav__burger-btn{
    position: relative;
    margin: 0 auto 0 0;
    padding: 0;
    display: none;
    width: 24px;
    height: 16px;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;

    &::before,
    &::after{
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;

        @include smooth;
    
        background-color: $trueWhite;
        border-radius: 1px;
    }
    &::after{
        bottom: 0;
    }
    &::before{
        top: 0;
    }

    @media screen and (max-width: 798px){
        display: block;
    }
}

.nav__burger-lines{
    padding: 0;
    margin: 0;

    display: flex;
    width: 100%;
    height: 1px;

    background-color: $trueWhite;
    border-radius: 1px;

    @include smooth;
}

.nav__burger-btn--opened{
    &::before{
        top: 7.5px;
        transform: rotate(45deg);
    }
    &::after{
        bottom: 7.5px;
        transform: rotate(-45deg);
    }
}

.nav__burger-btn--opened .nav__burger-lines{
    transform: scaleX(0);
}

.nav__site-nav{
    margin: 0;
    padding: 0;

    list-style: none;
    margin: 0 145px 0 0;
    
    @media screen and (max-width: 1020px){
        margin-right: auto;
    }
}

.site-nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @include smooth;

    @media screen and (max-width: 798px){
        position: absolute;
        top: 100%;
        left: 0;

        padding: 10px 0 0;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-color: $blueHeader;

        transform: translateY(-200%);

        z-index: -1;

        &--opened{
            transform: translateY(0);
        }
    }
}

.site-nav__item{
    margin: 0 40px 0 0;

    &:last-child{
        margin-right: 0;
    }

    @media screen and (max-width: 1020px){
        margin: 0 20px 0 0;
    }

    @media screen and (max-width: 798px){
        margin: 10px 0;
    }
}

.site-nav__link{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

    font-family: $gotham;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;

    text-decoration: none;
    color: $trueWhite;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 0;
        height: 2px;

        background-color: $trueWhite;
        border-radius: 1px;

        @include smooth;
    }
    
    &:hover,
    &:focus {
        @include smooth;
        color: rgba($color: $trueWhite, $alpha: 0.4);
        &::after{
            width: 100%;
        }
    }
    
    @media screen and (max-width: 1020px){
        font-style: 14px;
    }
}

.user-nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.user-nav__item{
    margin: 0 15px 0 0;

    &:last-child{
        margin-right: 0;
    }
}

.user-nav__link{
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 0 30px;
    padding: 15px 25px 15px 65px;

    font-family: $gotham;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: $trueWhite;

    background-color: $cyan1;
    border-radius: 9px;
    
    @include smooth;

    &::before{
        content: "";
        position: absolute;
        top: 12px;
        left: 25px;

        display: block;
        width: 23px;
        height: 23px;

        background-image: url("../img/header_whatsapp.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &:hover,
    &:focus{
        box-shadow: 0 0 10px 0 $trueWhite;
        background-color: $green1;
    }

    @media screen and (max-width: 1020px){
        padding: 7px 15px 7px 35px;
        font-size: 14px;
        line-height: 16px;

        &::before{
            top: 8px;
            left: 15px;

            width: 15px;
            height: 15px;
        }
    }
}

.user-nav__btn{
    box-sizing: border-box;
    margin: 0;
    padding: 16px;

    font-family: $gotham;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: $trueWhite;
    text-decoration: none;

    background: none;
    background-color: $purple4;
    border: none;
    border-radius: 9px;

    cursor: pointer;

    @include smooth;

    &:hover,
    &:focus{
        box-shadow: 0 0 10px 0 $trueWhite;
    }

    @media screen and (max-width: 1020px){
        padding: 9px;

        font-size: 12px;
        line-height: 12px;
    }
}

