.nav{
    position: relative;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

.nav__burger-btn{
    position: relative;
    margin: 0 auto 0 0;
    padding: 0;
    display: none;
    width: 24px;
    height: 16px;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;

    &::before,
    &::after{
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;

        @include smooth;
    
        background-color: $trueWhite;
        border-radius: 1px;
    }
    &::after{
        bottom: 0;
    }
    &::before{
        top: 0;
    }

    @media screen and (max-width: 798px){
        display: block;
    }
}

.nav__burger-lines{
    padding: 0;
    margin: 0;

    display: flex;
    width: 100%;
    height: 1px;

    background-color: $trueWhite;
    border-radius: 1px;

    @include smooth;
}

.nav__burger-btn--opened{
    &::before{
        top: 7.5px;
        transform: rotate(45deg);
    }
    &::after{
        bottom: 7.5px;
        transform: rotate(-45deg);
    }
}

.nav__burger-btn--opened .nav__burger-lines{
    transform: scaleX(0);
}

.nav__site-nav{
    margin: 0;
    padding: 0;

    list-style: none;
    margin: 0 145px 0 0;
    
    @media screen and (max-width: 1020px){
        margin-right: auto;
    }
}