$gotham: "GothamPro", "Verdana", sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;
$blueHeader: #61A7D9;
$blueMain: #0067b2;

// Основные цвета 
$cyan1:  #0068B2;
$cyan2:  #215C85;
$cyan3:  #004474;
$cyan4:  #3695D9;
$cyan5:  #61A7D9;

// Вторичные цвета
$purple1:  #0005BE;
$purple2:  #24268F;
$purple3:  #00037C;
$purple4:  #383CDF;
$purple5: #6467DF;

// Bторичные цвета 2
$green1: #00BD67;
$green2: #238D5D;
$green3: #007B43;
$green4: #37DE92;
$green5: #64DEA6;

// Дополнительные цвета
$orange1: #FF9000;
$orange2: #BF8130;
$orange3: #A65E00;
$orange4: #FFAC40;
$orange5: #FFC273;

:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff6971,
        #ffc75f,
        #f9f871
    );
}