$gotham: "GothamPro", "Verdana", sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;
$blueHeader: #61A7D9;
$blueMain: #0067b2;

// Основные цвета 
$test1:  #0068B2;
$test2:  #215C85;
$test3:  #004474;
$test4:  #3695D9;
$test5:  #61A7D9;

// Вторичные цвета
$test6:  #0005BE;
$test7:  #24268F;
$test8:  #00037C;
$test9:  #383CDF;
$test10: #6467DF;

// Bторичные цвета 2
$test11: #00BD67;
$test12: #238D5D;
$test13: #007B43;
$test14: #37DE92;
$test15: #64DEA6;

// Дополнительные цвета
$test16: #FF9000;
$test17: #BF8130;
$test18: #A65E00;
$test19: #FFAC40;
$test20: #FFC273;