@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

.breadCrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}

.breadCrumbs__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadCrumbs__thisPage {
  margin: 0;
}

.breadCrumbs__main-link {
  color: #000000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.breadCrumbs__main-link:hover {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.breadCrumbs__slash {
  margin: 0 7px 0 7px;
}

.arrow {
  width: 8px;
  height: 8px;
  border-top: 2px solid #61A7D9;
  border-right: 2px solid #61A7D9;
  margin: 4px 15px 0 0;
}

.arrow-right {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.arrow:hover {
  width: 10px;
  height: 10px;
  border-top: 3px solid #6467DF;
  border-right: 3px solid #6467DF;
  background-color: #6467DF;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-contacts {
  height: 100%;
  width: 100%;
  margin: 50px auto;
}

.share {
  margin: 0 auto 50px;
  width: 280px;
  height: 80px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: 1.8s ease;
  -o-transition: 1.8s ease;
  transition: 1.8s ease;
  font-size: 24px;
  background: #ffffff;
  border: 2px solid #0068B2;
}

.share:hover {
  border-radius: 40px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.share-span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0068B2;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  z-index: 999;
  -webkit-transition: .6s linear;
  -o-transition: .6s linear;
  transition: .6s linear;
  border-radius: 5px;
}

.share:hover .share-span {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
  margin-bottom: 50%;
  border-radius: 40px;
}

.share-a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.share:hover .share-a {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.share-img {
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.share-img:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.share-a:nth-child(2) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.share-a:nth-child(3) {
  -webkit-transition-delay: .7s;
       -o-transition-delay: .7s;
          transition-delay: .7s;
}

.share-a:nth-child(4) {
  -webkit-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
}

.share-a:nth-child(5) {
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wave-btn {
  position: relative;
  width: 280px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
  text-decoration: none;
  overflow: hidden;
}

.wave-btn:hover {
  border-radius: 10px;
  -webkit-transition: 0.6s ease 0s;
  -o-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
  -webkit-box-shadow: 0 0 40px rgba(0, 189, 103, 0.6);
          box-shadow: 0 0 40px rgba(0, 189, 103, 0.6);
}

.wave-btn:hover .wave-btn__waves,
.wave-btn:focus .wave-btn__waves {
  background-color: #00BD67;
  top: -50px;
}

.wave-btn__text {
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  background-color: #0068B2;
  width: 280px;
  height: 280px;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: 0.6s ease 0s;
  -o-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
}

.wave-btn__waves::after,
.wave-btn__waves::before {
  content: '';
  width: 250%;
  height: 250%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves::before {
  background-color: #000000;
  border-radius: 48%;
  -webkit-animation: waves 5s infinite linear;
          animation: waves 5s infinite linear;
}

.wave-btn__waves::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.about-me-title {
  font-size: 100px;
}

.about-me__subtitle {
  border: 1px solid #900;
  width: 500px;
  height: 510px;
}

.subtitle-fact {
  color: #24268F;
  font-size: 40px;
  margin: 25px 0 0 25px;
}

.subtitle-fact-text {
  color: #6467DF;
  font-size: 26px;
  margin: 30px;
}

.main {
  grid-column: 2 / 3;
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: url(../img/bg_wave.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}

.welcome__div {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.welcome__div--content {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  max-width: 700px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
}

.welcome__div--content--title {
  font-size: 2em;
}

.welcome__div--content--text {
  font-size: 1.2em;
}

.welcome-content__imgBlock {
  max-width: 500px;
  max-height: 500px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.welcome-content__imgBlock:hover {
  border-radius: 1px;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.welcome-content__imgBlock:hover img {
  -webkit-transform: scale(0.9) translateY(-70px);
      -ms-transform: scale(0.9) translateY(-70px);
          transform: scale(0.9) translateY(-70px);
}

.welcome-content__imgBlock img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: cover;
  width: 90%;
  height: 90%;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}

.advantages-container {
  background: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  background: #000000;
  position: relative;
  width: 320px;
  height: 400px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 30px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.box:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(45deg, #FF9000, #6467DF);
  background: linear-gradient(45deg, #FF9000, #6467DF);
}

.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(45deg, #238D5D, #24268F);
  background: linear-gradient(45deg, #238D5D, #24268F);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: -o-linear-gradient(45deg, #FF9000, #6467DF);
  background: linear-gradient(45deg, #FF9000, #6467DF);
}

.box:nth-child(3)::before,
.box:nth-child(3)::after {
  background: -o-linear-gradient(135deg, #6467DF, #238D5D);
  background: linear-gradient(315deg, #6467DF, #238D5D);
}

.box:nth-child(4)::before,
.box:nth-child(4)::after {
  background: -o-linear-gradient(225deg, #61A7D9, #FF9000);
  background: linear-gradient(225deg, #61A7D9, #FF9000);
}

.box:nth-child(5)::before,
.box:nth-child(5)::after {
  background: -o-linear-gradient(315deg, #3695D9, #BF8130);
  background: linear-gradient(135deg, #3695D9, #BF8130);
}

.box__span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.box__span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.box:hover .box__span::before {
  opacity: 0;
}

.content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.box__title {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.box:hover .box__title {
  color: #ffffff;
  text-shadow: 0 0 1px #0067b2, 0 0 10px rgba(0, 0, 0, 0.4);
}

.box__text {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
  line-height: 1.4em;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.box:hover .box__text {
  color: #ffffff;
  text-shadow: 0 0 1px #0067b2, 0 0 10px rgba(0, 0, 0, 0.4);
}

.box__link {
  display: inline-block;
  font-size: 1.1em;
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  background: #ffffff;
  font-weight: 400;
  -webkit-transition: 1.1s;
  -o-transition: 1.1s;
  transition: 1.1s;
  opacity: 0;
}

.box:hover .box__link {
  -webkit-transition: 1.1s;
  -o-transition: 1.1s;
  transition: 1.1s;
  opacity: 1;
}

.box__link:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000000;
  text-shadow: 0 0 1px #0067b2, 0 0 10px rgba(0, 0, 0, 0.4);
}

.skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  background: #383CDF;
  min-height: 100vh;
}

.skills::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 50px;
  background: #00BD67;
}

.skills-container {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__card {
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
  z-index: 10;
  margin: 20px 20px 60px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.skills__card-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  border-radius: 10px;
}

.skills__card-box--percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 100;
}

.skills__card-box--number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__card-box--number--h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
}

.skills__card-box--number--span {
  font-size: 24px;
}

.skills__card-box--svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.skills__card-box--svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(0, 0, 0, 0.05);
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.skills__card-box--svg circle:nth-child(2) {
  stroke: #ffffff;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
}

.skills__card:nth-child(1) .skills__card-box--svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 90) / 100);
}

.skills__card:nth-child(2) .skills__card-box--svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 85) / 100);
}

.skills__card:nth-child(3) .skills__card-box--svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 45) / 100);
}

.skills__card-box--text {
  position: absolute;
  bottom: -42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 30px 20px 10px;
  background: red;
  z-index: 1;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  -webkit-transition: bottom 0.5s, z-index 0s, padding 0.5s, -webkit-transform 0.5s;
  transition: bottom 0.5s, z-index 0s, padding 0.5s, -webkit-transform 0.5s;
  -o-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0s,0.5s,0s,0.5s;
       -o-transition-delay: 0s,0.5s,0s,0.5s;
          transition-delay: 0s,0.5s,0s,0.5s;
  color: #ffffff;
}

.skills__card:hover .skills__card-box--text {
  -webkit-transition-delay: 0.5s,0.5s,0.5s,0s;
       -o-transition-delay: 0.5s,0.5s,0.5s,0s;
          transition-delay: 0.5s,0.5s,0.5s,0s;
  bottom: -50px;
  z-index: 11;
  -webkit-transform: translateX(-50%) translateY(-50px);
      -ms-transform: translateX(-50%) translateY(-50px);
          transform: translateX(-50%) translateY(-50px);
  padding: 9px 20px;
}

.skills__card:nth-child(1) .skills__card-box--text {
  background: #00BD67;
}

.skills__card:nth-child(2) .skills__card-box--text {
  background: #0067b2;
}

.skills__card:nth-child(3) .skills__card-box--text {
  background: #FF9000;
}

.header {
  margin: 5px 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #61A7D9;
}

.header__nav {
  margin: 50px auto 0;
  padding: 0 15px 5px;
  max-width: 1200px;
}

.nav {
  position: relative;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__burger-btn {
  position: relative;
  margin: 0 auto 0 0;
  padding: 0;
  display: none;
  width: 24px;
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__burger-btn::before,
.nav__burger-btn::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  border-radius: 1px;
}

.nav__burger-btn::after {
  bottom: 0;
}

.nav__burger-btn::before {
  top: 0;
}

.nav__burger-lines {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__burger-btn--opened::before {
  top: 7.5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__burger-btn--opened::after {
  bottom: 7.5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__burger-btn--opened .nav__burger-lines {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.nav__site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 145px 0 0;
}

.site-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-nav__item {
  margin: 0 40px 0 0;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-family: "GothamPro", "Verdana", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-nav__link:hover,
.site-nav__link:focus {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.4);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  width: 100%;
}

.user-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.user-nav__item {
  margin: 0 15px 0 0;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__link {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 30px;
  padding: 15px 25px 15px 65px;
  font-family: "GothamPro", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0068B2;
  border-radius: 9px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-nav__link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 25px;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/header_whatsapp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-nav__link:hover,
.user-nav__link:focus {
  -webkit-box-shadow: 0 0 10px 0 #ffffff;
          box-shadow: 0 0 10px 0 #ffffff;
  background-color: #00BD67;
}

.user-nav__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 16px;
  font-family: "GothamPro", "Verdana", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background: none;
  background-color: #383CDF;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-nav__btn:hover,
.user-nav__btn:focus {
  -webkit-box-shadow: 0 0 10px 0 #ffffff;
          box-shadow: 0 0 10px 0 #ffffff;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1400px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 1230px) {
  .header__nav {
    margin: 35px auto 0;
    max-width: 990px;
  }
}

@media screen and (max-width: 1020px) {
  .header__nav {
    margin: 20px auto 0;
    max-width: 768px;
  }

  .nav__site-nav {
    margin-right: auto;
  }

  .site-nav__item {
    margin: 0 20px 0 0;
  }

  .site-nav__link {
    font-style: 14px;
  }

  .user-nav__link {
    padding: 7px 15px 7px 35px;
    font-size: 14px;
    line-height: 16px;
  }

  .user-nav__link::before {
    top: 8px;
    left: 15px;
    width: 15px;
    height: 15px;
  }

  .user-nav__btn {
    padding: 9px;
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 798px) {
  .header__nav {
    margin: 5px 0 0;
    max-width: none;
    width: 100%;
  }

  .nav__burger-btn {
    display: block;
  }

  .site-nav {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #61A7D9;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    z-index: -1;
  }

  .site-nav--opened {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .site-nav__item {
    margin: 10px 0;
  }
}

.webp .welcome-container { background: url(../img/bg_wave.webp); }